*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
}
body {
    background-color: rgba(26, 11, 46, 1); 
    color: white;
}

/* shared styles */
.container{
    max-width: 1240px;
    margin: 0px auto;
    padding: 40px 15px;
    box-sizing: border-box;
    border: 1px solid red;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}
.center{
    text-align: center;
}
.bg{
    background-color:rgba(53, 17, 101, 0.4);
}

/* shared class */
.nav-hr{
    max-width: 1239px;
    margin: 0 auto;
    border: 1px solid gray;
}
.white, .rating-para, .choose-heading{
    color: rgba(255, 255, 255, 1);
}
.green, .rating-heading{
    color: rgba(0, 255, 136, 1);
}

/* navbar */
.nav-info{
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
.nav-list{
   gap: 30px;
}
.nav-tech, .nav-wave{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.nav-wave{
    background: linear-gradient(to right, 
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.nav-features{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
}
#ham-nav{
    display: none;
}

/* banner section */
.banner-section{
    background-color: rgba(35, 14, 61, 1);
    background: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-circle{
    position: relative;
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .new-badge{
    position: absolute;
    bottom: 85%;
    left: 56%;
    background-color: rgba(0, 255, 136, 1);
    padding: 8px 15px;
    border-radius: 1000px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(26, 11, 46, 1);
    border: none;
} 
.banner-info{
    text-align: center;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
   padding-bottom: 10px;
}
.banner-btn{
    padding-top: 20px;
    gap: 10px;
}
.subscribe-btn{
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid rgba(0, 255, 136, 1);
}

/* Podcast Section */
.podcast-heading{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.podcast-para{
    padding-bottom: 10px;
}
.podcast-para-last{
    padding-top: 20px;
}
#hidden-para{
    display: none;
}
.rating-heading{
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 10px;
}
.rating-para{
    font-weight: 400;
}
.podcast-rating{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* techwave section */
.techwave-section{
    background-color: rgba(35, 14, 61, 1);
}
.choose-card-container{
    padding-top: 20px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.choose-card-one, .choose-card-two, .choose-card{
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
}
.choose-card-one{
    grid-row: span 2;
}
.choose-card-two{
    grid-column: span 2;
}
.choose-img{
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
}
.choose-heading{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.choose-para, .podcast-para, .podcast-para-last, .rating-para, .tech-para, #hidden-para{
    color: rgba(255, 255, 255, 0.624);
}

/* features section */
.features-container{
    padding: 20px;
    gap: 40px;
}
.features-card{
    border-radius: 24px;
    width: 60%;
}
.youtube-video{
     width: 100%;
     border-radius: 24px 24px 0px 0px;
}
.clock-para{
    padding-top: 10px;
    gap: 10px;
}
.features-info{
    padding: 10px 25px 25px;
}

/* host section */
.host-container{
    gap: 50px;
}
.host-icon-container{
    display: flex;
    gap: 5px;
}
.host-icon{
    /* width: 100%;
    height: 100%; */
}
.host-icon-div{
    height: 20px;
    width: 20px;  
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.624);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}




/* responsive for mobile */
@media screen and (max-width: 576px) {
    /* navbar responsive */
    #nav-pc{
        display: none;
    }
    #ham-nav{
    display: block;
    }
    .nav-mobile{
        padding: 30px 10px;
    }
    .nav-tech, .nav-wave{
    font-size: 1.5rem;
    font-weight: 700;
    }
    .nav-img{
    width: 100%;
    }

    /* banner */
    .banner-info{
        padding-top: 20px;
    }
    .banner-heading{
        font-size: 2.25rem;
        font-weight: 700;
    }
    .banner-img{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .circle-img{  
        width: 30%;
    }
    .mic-img{
        width: 10%;
    }
    .new-badge{
    position: absolute;
    bottom: 75%;
    left: 56%;
    padding: 4px 8px;
    font-size: 1rem;
    } 

    /* Podcast */
    .podcast-heading{
        font-size: 2rem;
        padding-bottom: 20px;
    }
    .podcast-para{
        display: none;
    }
    #hidden-para{
        display: block;
    }
    .rating-heading{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 5px;
    }
    .podcast-rating{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    /* tech wave */
    .choose-card-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    }
    .choose-card-one{
    grid-row: 1;
    }
    .choose-card-two{
    grid-column: 1;
    }

    /* features */
    .youtube-video{
       width: 100%;
    }
    .features-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-card{
    border-radius: 24px;
    width: 90%;
    }

    /* host */
    .host-container{
        flex-direction: column;
        text-align: center;
    }
    .host-icon-container{
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    }
}