*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
}
body {
    background-color: rgba(26, 11, 46, 1); 
    color: white;
}

/* shared styles */
.container{
    max-width: 1240px;
    margin: 0px auto;
    padding: 40px 15px;
    box-sizing: border-box;
    border: 1px solid red;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}
.white{
    color: rgba(255, 255, 255, 1);
}
/* shared class */

/* navbar */
.nav-info{
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
.nav-list{
   gap: 30px;
}
.nav-tech, .nav-wave{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.nav-wave{
    background: linear-gradient(to right, 
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.nav-features{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
}
nav hr{
    max-width: 1239px;
    margin: 0 auto;
    border: 1px solid gray;
}
#ham-nav{
    display: none;
}

/* banner section */
.banner-section{
    background-color: rgba(35, 14, 61, 1);
    background: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-circle{
    position: relative;
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .new-badge{
    position: absolute;
    bottom: 85%;
    left: 56%;
    background-color: rgba(0, 255, 136, 1);
    padding: 8px 15px;
    border-radius: 1000px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(26, 11, 46, 1);
    border: none;
} 
.banner-info{
    text-align: center;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
   padding-bottom: 10px;
}
.banner-btn{
    padding-top: 20px;
    gap: 10px;
}
.subscribe-btn{
    background: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid rgba(0, 255, 136, 1);
}



/* responsive for mobile */
@media screen and (max-width: 576px) {
    /* navbar responsive */
    #nav-pc{
        display: none;
    }
    #ham-nav{
    display: block;
    }
    .nav-mobile{
        padding: 30px 10px;
    }
    .nav-tech, .nav-wave{
    font-size: 1.5rem;
    font-weight: 700;
    }
    .nav-img{
    width: 100%;
    }
}